<div class="container">
  <h2 id="page-title">{{page.title | async}}</h2>

  <div class="row">
    <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <p class="lead">It looks like part of my website is temporarily unavailable. Please try
        again later. In the meantime you can cross your fingers and click the "refresh" or "go back" buttons.</p>

      <p class="text-muted">Here are some reasons why you're seeing this page.</p>

      <ul id="reasons-ended-up-here">
        <li>The last action you made needs to communicate with my server which is temporarily malfunctioning.</li>
        <li>I made a mistake somewhere thus inconveniencing you and now I look like a fool.</li>
      </ul>

      <p class="http-code"><small>503 - Oops.</small></p>
    </div>

  </div>
</div>
