<div class="container">
  <h2 id="my-name"><small><small><em>Hello, I'm Jason</em></small></small></h2>
  <h1 id="page-title">{{page.title | async}}</h1>

  <section id="bio">

    <img src="../../../../assets/jason.png"
         alt="Jason Harris"
         class="bio-img" />

    <p>
      My journey began in 2010 after I designed several Xfire skins for the Xfire community. Most of my hobbies
      around this time was creating video game mods, PHP website modules and Xfire skins. Eventually a startup
      consulting company called PLAYXPERT saw my involvement in the Xfire community and hired me and moved me to
      Sandpoint, Idaho. PLAYXPERT shifted its focus to its own startup project, Kochava, and I began working at
      Kochava full time. While at Kochava our team built a SAAS system that at the time ingested several hundreds
      gigabytes of data every month and saw on average millions of requests per minute. In 2015 I helped Frontier
      Communications prepare their systems for a Verizon acquisition. In 2016 after my Frontier contract ended I
      joined an energetic startup team that's changing the financial industry.</p>
  </section>
</div>
