<div class="container">
  <h2 id="page-title">{{page.title | async}}</h2>

  <section id="contact" *ngIf="showEmailForm">
    <app-contact-form #contactForm="generalContactForm"
                      (emailSubmitted)="onEmailSubmitted($event)"></app-contact-form>
  </section>

  <section id="confirmation" *ngIf="showEmailConfirmation">
    <h3 class="text-success">
      <i class="far fa-check-circle"></i>
      Message Sent
    </h3>
    <p class="text-muted">
      Thanks for stopping by and saying hello! Your email was sent, I'll respond as soon as I can. Additionally, you
      can follow me on
      <a href="https://www.linkedin.com/in/elitereloaded"
         class="outbound-link social-network"
         target="_blank">Linkedin</a>
      and
      <a href="https://github.com/reloaded"
         class="outbound-link social-network"
         target="_blank">Github</a>.
    </p>
    <h6></h6>
    <p class="text-muted">

    </p>
  </section>
</div>
